body{background-color: #332f2c;}
.titulo{
    background-color: white;
    text-align: center;
}

.imagen{
    display: flex;
    justify-content: center;
}

.parrafo{
    background-color: white;
    text-align: center;
}

.video{
    display: flex;
    justify-content: center;
}